/* stylizacja kart */

body, html {
    background-color: #d0d9d42f !important; /* Jasnoniebieskie tło */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%; /* Ustawienie wysokości na 100% */
    overflow: hidden; /* Ukrycie przewijania na poziomie body */
}
.card {
    background-color: #fff; /* Białe tło karty */
    border-radius: 8px; /* Zaokrąglone rogi */
    padding: 12px; /* Wewnętrzny odstęp */
    margin-bottom: 12px; /* Odstęp między kartami */
    overflow: hidden; /* Ukrywa przewijanie wewnątrz karty, jeśli to konieczne */
    border: 2px solid black; /* Czarna obramówka */
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5); /* Delikatny cień od dołu */
    margin-right: -10px; /* Nachodzenie na prawą stronę */
}
.headline-card {
    width: 100%;
    margin-bottom: 10px;
    margin-top: -10px; /* Przesunięcie komponentu w górę */
}

.add-table-card, .added-towar-card {
    width: 100%;
    margin-bottom: 10px;
}

.item-list-container {
    flex: 1;
    overflow-y: auto;
    height: 100%;
}

/* style dla dodawania towaru */

.row-container {
    display: flex;
    flex-wrap: nowrap;
    height: 100%; /* Adjust this to match the space you need for other components */
    overflow: hidden;
}

.col-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Dashboards cards */

.card-custom {
    transform: scale(0.8) translateX(-15px); /* Użyj transformacji do przesunięcia w lewo */
    transform-origin: center;
    width: 300px;
    margin-top: -15px;
}

.card-notify {
    border-color: #007bff; /* Niebieskie obramowanie */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5); /* Niebieski cień */
}

.card-message {
    border-color: #28a745; /* Zielone obramowanie */
    box-shadow: 0 4px 8px rgba(40, 167, 69, 0.5); /* Zielony cień */
}

.card-invoice {
    border-color: #dc3545; /* Czerwone obramowanie */
    box-shadow: 0 4px 8px rgba(220, 53, 69, 0.5); /* Czerwony cień */
}

/* Dodatkowe style mogą być potrzebne dla kontenerów */
.container-fluid {
    padding: 0 5px; /* Odstęp po bokach dla lepszego wyglądu */
}

.icon {
    color: inherit; /* Ikony przyjmują kolor tekstu z .nav-link */
    font-size: 1.25rem; /* rozmiar ikon */
    border: 2px solid black; /* Czarna obramówka */
    border-radius: 50%; /* Pełne zaokrąglenie dla kształtu koła */
    padding: 10px; /* Dostosuj w zależności od wielkości ikony */
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5); /* Delikatny cień */
    background-color: white; /* Białe tło ikon, aby były bardziej widoczne */
}

.header {
    align-self: stretch;
    position: relative;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

    .header h1 {
        color: #BFB78F;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 300;
        letter-spacing: 3px;
        position: relative;
        padding: 0 60px;
        padding-top: 10px;
    }

        .header h1::before,
        .header h1::after {
            content: "";
            height: 2px;
            width: 55px;
            background-color: #c7a42f;
            position: absolute;
            top: 65%;
            transform: translateY(-50%);
        }


        .header h1::before {
            left: 0;
            transform: translateX(-10%); /* Przesunięcie całkowicie na zewnątrz tekstu */
        }

        .header h1::after {
            right: 0;
            transform: translateX(10%); /* Przesunięcie całkowicie na zewnątrz tekstu */
        }

/* LOGO */
.logo {
    width: 100%; /* Zapewnia, że logo zajmuje całą szerokość sidebaru */
    display: flex; /* Używa flexboxa do centrowania treści */
    justify-content: center; /* Centruje logo w poziomie */
    align-items: center; /* Centruje logo w pionie */
    padding: 20px 0 10px 20px; /* Dodaje padding na górze, dole i zwiększa lewy padding */
    margin-top: -70px; /* Przesuwa logo wyżej o 20px */
    margin-left: -18px; /* Przesuwa logo w lewo o 10px */
}

.header h1 {
    margin: 0; /* Usuwa domyślny margines */
}

/* NAPIS MENU W SIDEBAR */
.menu-header {
    font-size: 1.0rem; /* Dostosuj rozmiar czcionki */
    color: #d3d3d3; /* Kolor tekstu */
    text-transform: uppercase; /* Wielkie litery */
    padding: 50px 20px; /* Odstępy */
    padding-bottom: 20px;
    border-bottom: 2px solid #8e8e86; /* Linia oddzielająca */
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar-custom {
    margin-left: 275px;
    display: flex;
    align-items: center; /* Wyśrodkowanie wszystkich elementów w pionie */
    justify-content: space-between; /* Rozłożenie elementów na całą szerokość */
}
.nav-icons {
    display: flex;
    align-items: center; /* Wyśrodkowanie ikon względem pionu */
}

    .nav-icons .nav-link {
        padding: 0.5rem 1rem; /* przestrzeń wokół ikon */
        margin: 0 10px; /* Odstępy między ikonami */
        color: #6c757d; 
    }

        .nav-icons .nav-link:hover {
            background-color: #e9ecef; 
            border-radius: 10px; 
        }

.search-box {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid black; /* Czarna obramówka */
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5); /* Delikatny cień od dołu */
    margin-right: -10px; /* Nachodzenie na prawą stronę */
}

    .search-box input {
        border: none;
        background-color: transparent;
        margin-right: 0.5rem; /* Odstęp od ikony lupy */
        color: #495057; 
        width: 100%; 
    }

        .search-box input::placeholder {
            color: #6c757d; 
        }

        .search-box input:focus {
            outline: none; 
        }

    .search-box button {
        background: none;
        border: none;
        color: #6c757d; 
        cursor: pointer;
    }

/* Sidebar styles */
.sidebar {
    width: 275px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    background-color: #011a20;
    padding-top: 80px; /* odstęp na górze */
    border-right: 2px solid #8e8e86;
}

.sidebar-icon {
    margin-right: 1.2rem; /* Odstęp między ikoną a tekstem */
    color: #F2A71B;
}

.sidebar .sidebar-item {
    color: #BFB78F;
    padding: 10px 15px;
    border-bottom: 1px solid #d3d3d3;
}

.sidebar-icon {
    margin-right: 1.2rem;
    color: #BFB78F;
}

.sidebar-item:hover {
    background-color: #e9ecef;
    color: #2c3e50;
}


.sidebar-item-declarations {
    margin-top: 20px; 
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #6c757d;
    font-size: 0.85rem;
    border-top: 1px solid #d3d3d3;
    padding-bottom: 10px; /* dodatkowa przestrzeń na dole */
}

.user-badge {
    color: #fff; 
    background-color: #2c3e50; 
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: block; /* to daje aby zająć całą szerokość */
    text-align: center; 
    font-size: 0.85rem;
}

/* treść główna, aby nie nachodziła na sidebar */
.ms-sm-auto.px-md-4 {
    margin-left: 275px; 
    padding: 20px; 
}

/*style dla czesci glownej */
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Zapewnia, że treść rozciągnie się do dostępnej przestrzeni */
    margin-left: 275px;
    padding: 1rem;
    overflow-y: hidden; /* Blokuje pionowe przewijanie wewnątrz tego elementu */
    max-height: 100vh; /* Ogranicza maksymalną wysokość do widoku ekranu */
    margin-top: -50px; /* Przesunięcie całości w górę */
}

.carousel-img {
    max-height: 180px;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    left: 5px; 
    right: 5px; 
    bottom: 0; 
    border-radius: 10px; 
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px 15px; 
    text-align: center; 
    margin: auto; 
}

    .carousel-caption h3,
    .carousel-caption p {
        text-align: center; 
        color: #2c3e50; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Cień tekstu */
    }

/* style dla kalendarza w App.jsx */

.rbc-btn-group {
    font-size: 12px; /* zmniejsz rozmiar czcionki przycisków */
}

.rbc-toolbar-label {
    font-size: 14px; /* zmniejsz rozmiar czcionki etykiety (np. miesiąc i rok) */
}

.rbc-header {
    padding: 4px 10px; /* zmniejsz padding nagłówków dni */
    font-size: 14px; /* zmniejsz rozmiar czcionki */
}

.rbc-row-segment .rbc-event-content {
    font-size: 12px; /* zmniejsz rozmiar czcionki wydarzeń */
}

.rbc-toolbar {
    display: flex;
    justify-content: space-between; /* Rozmieść elementy równomiernie */
    align-items: center; /* Wyrównaj elementy pionowo */
}

/* style dla magazynu */

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.gradient-card {
    animation: gradient-animation 3s linear infinite;
    padding: 2px;
    border-radius: 8px;
    border: 3px solid #e76f51; /* Kolor obramowania szynki z wykresu */
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
}

.gradient-green {
    background-image: linear-gradient(white, white), linear-gradient(to right, #e76f51, rgba(255, 255, 255, 0.8));
}

.gradient-yellow {
    background-image: linear-gradient(white, white), linear-gradient(to right, rgba(255, 255, 255, 0.8), #e76f51);
}

.BarChart {
    margin-left: auto;
}

.TableContainer {
    margin-top: auto;
}

#content-container {
    display: flex;
    justify-content: space-between;
}

#left-container {
    width: 40%;
    padding: 25px;
    text-align: left;
    position: relative;
    top: -50px;
}

#right-container {
    width: 80%;
}

#header-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#title {
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
    color: #000;
    text-align: left;
    margin-bottom: 20px;
}

#search-bar {
    width: 600px;
    height: 20px; /* Zmniejszona wysokość */
    margin-left: 20px;
}

#icon-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

#action-button {
    background-color: #000;
    color: #fff;
    text-transform: none;
    margin-top: 20px;
    height: 40px;
}

/* style dla deklaracji */

.declarations-container {
    padding: 10px 0;
}

.declarations-header {
    margin-left: 30px; /* Przesunięcie napisu w prawo */
}

.declarations-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4px; /* Zmniejszenie odstępów między kafelkami */
}

.declarations-item {
    flex: 1 1 calc(25% - 8px); /* Zmniejszenie szerokości kafelków */
    margin: 0; /* Usunięcie dodatkowych marginesów */
}

.declarations-title {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.declarations-body {
    font-size: 1em;
}

/* style dla zestwien */

.zestawienia-container {
    padding: 1px 0;
    margin-top: -20px; /* Podniesienie zawartości strony */
}
}

.zestawienia-header {
    margin-left: 60px; /* Przesunięcie napisu w prawo */
}

.zestawienia-item {
    padding: 12px;
    text-align: center;
    color: #000;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 10px; /* Drobny margines dookoła */
    margin-right: 20px; /* Przesunięcie w prawo */
}

    .zestawienia-item:hover {
        transform: scale(1.02);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

.zestawienia-chart-container {
    width: 100%; /* Zmniejszenie szerokości wykresu rocznego */
    height: 200px; /* Zwiększenie wysokości wykresu rocznego */
    margin: 0 auto;
    padding-right: 10px; /* Dodanie paddingu po prawej stronie */
}

.zestawienia-pie-chart {
    width: 100%;
    height: 250px; /* Poprawienie wysokości kafelków */
    margin: 0 auto;
    padding-right: 40px; /* Dodanie paddingu po prawej stronie */
}

.legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

    .legend div {
        display: flex;
        align-items: center;
        margin: 5px;
    }

.recharts-label {
    font-size: 0.5rem; /* Zmniejszenie rozmiaru etykiet wykresów */
}

/* style dla Grafik */

.grafik-title {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
    color: #000;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 220px; /* Przesunięcie, aby nie nachodziło na sidebar */
    display: block; /* Przywraca widoczność napisu */
}

.gradient-card {
    padding: 1px;
    border-radius: 8px;
    border: 3px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(0.9); /* Zmniejszenie skali kart */
    margin-bottom: 10px;
    border-image-slice: 1;
    border-width: 3px;
}

.calendar-container-grafik {
    margin-top: 30px;
    transform: scale(0.85); /* Zmniejszenie skali kalendarza o 1/3 */
    transform-origin: bottom right; /* Ustawienie punktu zaczepienia skalowania */
    width: 90%; /* Dostosowanie szerokości, aby skalowanie nie zmniejszało całkowitej szerokości */
}

/* style dla dokumenty */

.dokumenty-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 300px; /* Upewnij się, że treść nie nachodzi na sidebar */
}

.dokumenty-header {
    margin-bottom: 16px;
    position: relative;
    left: 25px; /* Przesunięcie, aby nie nachodziło na sidebar */
}

.dokumenty-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    gap: 20px;
}

.dokumenty-search-field {
    flex-grow: 1;
}

.dokumenty-icons {
    display: flex;
}

.dokumenty-table-container {
    margin-bottom: 16px;
    overflow-x: auto; /* Umożliwia przewijanie w poziomie, jeśli tabela jest zbyt szeroka */
}

.dokumenty-table-header {
    background-color: #f5f5f5; /* Delikatnie szare tło nagłówka tabeli */
}

.dokumenty-table-row-even {
    background-color: #fafafa; /* Jasno szare tło co drugiego wiersza */
}

.dokumenty-left-panel {
    position: relative;
    left: 20px; /* Przesunięcie, aby nie nachodziło na sidebar */
    width: 80%; /* Zmniejszenie szerokości */
    border: 1px solid #ccc; /* Obramowanie */
    padding: 10px; /* Wewnętrzne odstępy */
}

.dokumenty-left-panel-list {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}

    .dokumenty-left-panel-list .MuiListItem-root {
        border-bottom: 1px solid #ccc; /* Graficzne oddzielenie elementów listy */
    }

.dokumenty-right-panel {
    margin-top: 16px;
    padding-left: 50px; /* Dostosowanie przesunięcia w prawo */
}

.dokumenty-przepisy-container {
    margin-left: 100px; /* Przesunięcie wewnętrznych elementów w prawo */
}